<h3>LOGIN</h3>

<div class="alert alert-danger" data-ng-show="loginError">
  <strong>Login Error:</strong> Email or password not recognized
</div>

<form id="login-form" novalidate class="">
  <div class="form-group">
    <label for="login-email">Email</label>
    <input type="text" id="login-email" data-ng-model="email">
  </div>
  <div class="form-group">
    <label for="login-password">Password</label>
    <input type="password" id="login-password" data-ng-model="password">
  </div>
  <input type="submit" class="btn btn-default" value="Login" data-ng-click="login()" >
</form>
