<h3>STORY</h3>
<table class="table table-bordered">
  <tr>
    <td style="font-weight: bold;">ID</td>
    <td>{{ story.id }}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">TITLE</td>
    <td>{{ story.title }}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">PUBLICATION</td>
    <td>{{ story.publication }}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">ISSUE</td>
    <td>{{ story.issue }}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">TYPE</td>
    <td>{{ story.type }}</td>
  </tr>
  <tr>
    <td style="font-weight: bold;">URL</td>
    <td>{{ story.url }}</td>
  </tr>
  <!-- tr data-ng-hide="story.note == 'NULL'" -->
  <tr>
    <td style="font-weight: bold;">NOTE</td>
    <td>{{ story.note }}</td>
  </tr>
</table>
<a href="/#/story" class="btn btn-default">Back to List</a>